.chatsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  height: 80vh;
  width: 95vw;
  left: 2.5vw;
  position: absolute;
  background-color: rgb(187, 187, 187);
}
.chatItems {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  height: 75vh;
  width: 40vw;
  background-color: tan;
  overflow-y: scroll;
}
.chatbuttons{
  cursor: pointer;
  margin-top: 1vh;
  padding: 1vh;
  border-radius: 10px;
}
.chatBoxWindowMain{
  height: 95vh;
  width: 95vw;
  left: 2.5vw;
  top: 2.5vh;
  position: absolute;
  background-color: grey;
}
.chatBoxWindowSub{
  width: 95%;
  height: 95%;
  color: rgb(136, 136, 255);
  left: 2.5%;
  top: 2.5%;

}