.chatsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  height: 80vh;
  width: 95vw;
  left: 2.5vw;
  position: absolute;
  background-color: rgb(187, 187, 187);
}
.chatItemsMain{
  width: 100%;
  position: relative;
  height: 100vh;
}

.chatItems {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  height: 75vh;
  width: 75%;
  background-color: #4b494f;
  overflow-y: scroll;
  position: relative;
  left: 12.5%;
}
.chatbuttons{
  cursor: pointer;
  margin-top: 1vh;
  padding: 1vh;
  border-radius: 10px;
}
.chatBoxWindowMain{
  height: 95vh;
  width: 95vw;
  left: 2.5vw;
  top: 2.5vh;
  position: absolute;
  background-color: grey;
}
.chatBoxWindowSub{
  text-align: bottom;
  text-align: left;
  overflow-y: scroll;
  width: 95%;
  height: 95%;
  color: rgb(255, 255, 255);
  left: 2.5%;
  top: 2.5%;
  padding: 1vw;
}
.chatClosingX{
background-image: url('./Addins/xforclosing.png');
background-size: 100% 100%;
height: 3vh;
width: 3vh;
background-color: rgba(0, 0, 0, 0);
border: none;
right: 1vh;
top: 1vh;
position: absolute;
cursor: pointer;
}