.credBox {
  width: 40vw;
  height: 80vh;
  background-color: #4b494f;
  left: 30vw;
  top: 10vh;
  position: absolute;
}
.credBoxButtons {
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}
.credBoxButtonsLink {
  border-style: solid solid solid none;
  border-color: black;
  width: 33%;
  font-size: 1vw;
}
.signinMain {
  width: 100%;
  position: relative;
  height: 100vh;
}
.signinItemsFlex {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  border-style: solid;
  border-color: #00aeef;
  border-radius: 12px;
  margin-top: 15%;
  height: 50%;
  width: 75%;
  left: 12.5%;
  position: absolute;
}
.signinItemsFlex input {
  margin-bottom: 3vh;
}
.signinItemsFlex button{
    border-style: solid;
    border-radius: 12px;
    border-color: #00aeef;
    border-width: 2px;
    background-color: rgba(0, 0, 0, 0);
}
@media (max-width: 768px) {
  .credBox {
    width: 100vw;
    height: 100vh;
    left: 0vw;
    top: 0vh;
  }
}

/* ////////////////// REACT TABS CSS BELOW: ////////////////// */

.react-tabs__tab-list {
  border-bottom: 1px solid #00aeef;
  margin: 0 0 10px;
  padding: 0;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 3vw;
  color: rgb(167, 167, 167);
}

.react-tabs__tab--selected {
  background: #4b494f;
  border-color: #00aeef;
  color: #fafafa;
  border-radius: 5px 5px 0 0;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}
